@model IEnumerable<MSWD.Models.Client>

@{
    ViewBag.Title = "Clients";
}

<div class="container">
    <div class="page-title">
        <div class="row">
            <div class="col-md-8">
                @ViewBag.Title&emsp;>&emsp;<font class="red-highlight">List</font>
            </div>

            <div class="col-md-4">
                <input class="form-control all-search" placeholder="Search" />
            </div>

            @*
                <div class="col-md-2">
                    <div class="pull-right">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Add Client <span class="glyphicon glyphicon-plus"></span>
                            </button>
                            <ul class="dropdown-menu" style="right:0 !important; left:unset !important;" aria-labelledby="dropdownMenu1">
                                <li><a href="@Url.Action("Create","SeniorCitizens", new { })">Senior Citizen</a></li>
                                <li><a href="#">PWD</a></li>
                                <li><a href="#">Solo Parent</a></li>
                                @if (User.IsInRole("Social Worker"))
                                {
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">User</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            *@
            
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="table-responsive">
            <div class="col-md-12">
                <table class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Gender)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CivilStatus)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Occupation)
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DateCreated)
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.getFullName()
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Gender)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CivilStatus)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Occupation)
                                </td>
                                <td>
                                    @if (item.SeniorCitizen != null)
                                    {
                                        <text>Senior Citizen</text>
                                    }

                                    @if (item.SoloParent != null)
                                    {
                                        <text>Solo Parent</text>
                                    }

                                    @if (item.Pwd != null)
                                    {
                                        <text>PWD</text>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateCreated)
                                </td>
                                <td class="content-align-right">
                                    <a class="btn btn-primary btn-sm" data-toggle="tooltip" title="Manage" href="@Url.Action("Manage","Clients", new { @id = item.ClientId })"><span class="glyphicon glyphicon-edit"></span></a>
                                    
                                    <a class="btn btn-primary btn-sm" data-toggle="tooltip" title="View Inquiries" href="@Url.Action("Index","Inquiries", new { @id = item.ClientId })"><span class="glyphicon glyphicon-inbox"></span></a>

                                    @if (item.SeniorCitizen != null)
                                    {
                                        <a class="btn btn-warning btn-sm" data-toggle="tooltip" title="Applied for Senior Citizen" href="#">@item.SeniorCitizen.Status <span class="glyphicon glyphicon-info-sign"></span></a>
                                        @*
                                            <a class="btn btn-primary btn-sm" data-toggle="tooltip" title="View Senior Citizen Info" href="@Url.Action("View","SeniorCitizens", new { @id = item.ClientId })"><span class="glyphicon glyphicon-share"></span></a>
                                        *@
                                    }

                                    @if (item.SoloParent != null)
                                    {
                                        <a class="btn btn-warning btn-sm" data-toggle="tooltip" title="Applied for Solo Parent" href="#">@item.SoloParent.Status <span class="glyphicon glyphicon-info-sign"></span></a>
                                        @*
                                            <a class="btn btn-primary btn-sm" data-toggle="tooltip" title="View Solo Parent Info" href="@Url.Action("View","SoloParents", new { @id = item.ClientId })">View Solo Parent Info <span class="glyphicon glyphicon-share"></span></a>
                                        *@
                                    }

                                    @if (item.Pwd != null)
                                    {
                                        <a class="btn btn-warning btn-sm" data-toggle="tooltip" title="Applied for PWD" href="#">@item.Pwd.Status <span class="glyphicon glyphicon-info-sign"></span></a>
                                        @*
                                            <a class="btn btn-primary btn-sm" data-toggle="tooltip" title="View PWD Info" href="@Url.Action("View","PWDs", new { @id = item.ClientId })"><span class="glyphicon glyphicon-share"></span></a>
                                        *@
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            var datatable = $("table").DataTable({
                paging: true,
                "pageLength": 20,
                "dom": "<'row'<'table-container'<'table-responsive'rt>>><'table-footer'<'col-md-6'i><'col-md-6'p>>",
                "columnDefs": [
                    { "orderable": false, "targets": 6 }
                ]
            });

            $(".all-search").keyup(function () {
                datatable.search($(this).val()).draw();
            })
        });
    </script>
}