@model MSWD.Models.SeniorCitizen

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SeniorCitizen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.GivenName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.GivenName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SeniorCitizenId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
