<!DOCTYPE html>
<html class="mswd-height-100">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MSWD - @ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <link href="~/Content/sidebar.css" rel="stylesheet" />
        <link href="~/Content/datatable/dataTables.bootstrap.min.css" rel="stylesheet" />

        @RenderSection("styles", required:false)

        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    </head>
    <body>

        <div id="wrapper" class="">
            <div id="sidebar-wrapper" class="no-print">
                <img class="sidebar-logo" style="width:100px;" src="@Url.Content("~/Content/logo.png")" />

                <ul class="sidebar-nav">
                    @if (User.IsInRole("Client"))
                    {
                        <li><a href="@Url.Action("Apply","Clients")">Apply</a></li>
                        <li><a href="@Url.Action("Index","MobileNumbers")">Mobile Numbers</a></li>
                        <li><a href="@Url.Action("Requirements","Clients")">Requirements</a></li>
                    }

                    @if (User.IsInRole("Social Worker") || User.IsInRole("OIC"))
                    {
                        <li><a href="@Url.Action("Index","Clients")">Clients</a></li>
                        <li><a href="@Url.Action("Index","SeniorCitizens")">Senior Citizens</a></li>
                        <li><a href="@Url.Action("Index","PWDs")">PWD</a></li>
                        <li><a href="@Url.Action("Index","SoloParents")">Solo Parent</a></li>
                        <li><a href="#">Reports</a></li>
                    }
                    
                    <li><a href="@Url.Action("Index","Inquiries")">Inquiries</a></li>
                    <li><a class="menu-toggle" href="#" style="color:#9bc5ff;">Hide Sidebar</a></li>
                </ul>
            </div>

            <div id="page-content-wrapper">
                <div class="navbar no-print">
                    <div class="container">
                        <div class="navbar-header">
                            <a class="navbar-brand menu-toggle" href="#">
                                <span class="glyphicon glyphicon-align-justify" style="padding-right:14px;"></span>
                                Makati Social Welfare Department
                            </a>
                        </div>
                        <div class="navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "" })</li>
                            </ul>
                            @Html.Partial("_LoginPartial")
                        </div>
                    </div>
                </div>

                <div class="body-content">
                    @RenderBody()

                    <div class="container mswd-footer">
                        <div class="col-md-12">
                            <center>
                                <hr />
                                <footer>
                                    <p>#: 899-8997 / 899-9037</p>
                                    <p>&copy; @DateTime.Now.Year - MSWD</p>
                                </footer>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")

        <script src="~/Scripts/datatable/datatables.js"></script>
        <script src="~/Scripts/datatable/dataTables.bootstrap.js"></script>
    
        <!-- Menu Toggle Script -->
        <script>
            $(".menu-toggle").click(function(e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });

            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>

        @RenderSection("scripts", required:false)
    </body>
</html>
